@using Pops_bookshop.Models.Entities
@model List<Book>

@{
    ViewData["Title"] = "My wishlist";

    ViewBag.ToRedirect = 3;
    ViewBag.NoDetails = false;
}

<h1>My wishlist</h1>

@if (Model is not null && Model.Count() > 0)
{
    foreach (Book book in Model)
    {
        <div class="presentation-flex">
            <hr class="separation-line" />
            <partial name="_BookDisplay" model="book" />
        </div>
    }
}
else
{
    <div class="card-body">
        <p class="card-text">You have no book in your wishlist.</p>
    </div>
}