@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center presentation-flex responsive-container">
    <img src="~/images/library_pic.jpg" alt="[book cover]" class="book-cover-image" />
    <div>
        <h1 class="display-4">Welcome to Pop's online bookshop!</h1>
        <p>You can discover a large variety of books, buy it and review it!</p>
        <a class="btn btn-primary" href="@Url.ActionLink("ListBooks", "Book")">Discover our choice of books</a>
    </div>
</div>
