@using Pops_bookshop.Models.Entities
@model List<Book>

@{
    ViewData["Title"] = "My cart";

    ViewBag.ToRedirect = 4;

    double totalPrice = 0;

    foreach (Book book in Model)
    {
        totalPrice += book.Price;
    }
}

<h1>My cart</h1>

@if (Model is not null && Model.Count() > 0)
{
    foreach (Book book in Model)
    {
        <hr class="separation-line" />
        <div class="presentation-flex">
            <partial name="_BookDisplay" model="book" />
        </div>
    }

    <hr class="separation-line" />
    <h3>Cart's total: @totalPrice€</h3>
}
else
{
    <div class="card-body">
        <p class="card-text">You have no book in your cart.</p>
    </div>
}