@using Pops_bookshop.Models.Entities
@model Pops_bookshop.Models.Entities.Book

@{
    ViewData["Title"] = "About " + Model.Title;

    ViewBag.ToRedirect = 2;
    ViewBag.NoDetails = true;
}

<div class="presentation-flex larger-margin">
    <partial name="_BookDisplay" model="Model" />
</div>

<h3>Reviews</h3>
@if (Model.Reviews != null && Model.Reviews.Count() > 0)
{
    foreach (Review review in Model.Reviews)
    {
        <hr class="presentation-line" />
        <div>
            @if (review.Reviewer != null)
            {
                <p>@review.Reviewer.Firstname</p>
            }
            else
            {
                <p>Ancien membre</p>
            }
            <p>Date: @review.ReviewDate</p>

            <p>Rating: @review.Rating / 5</p>
            <p>Comment: @review.Comment</p>
        </div>
    }
}