@using Pops_bookshop.Models.Entities
@model List<Book>

@{
    ViewData["Title"] = "Library";

    ViewBag.ToRedirect = 1;
}

<h1>Books available</h1>
<hr />

@if (Model is not null && Model.Count() > 0)
{
    foreach (Book book in Model)
    {
        <partial name="_bookDisplay" model="book" />
    }
}
else
{
    <div class="card-body">
        <p class="card-text">No book is currently available in our library.</p>
    </div>
}