@using Pops_bookshop.Models.Entities
@model List<Book>

@{
    ViewData["Title"] = "Library";

    ViewBag.ToRedirect = 1;
    ViewBag.NoDetails = false;
}

<h1>Library</h1>
<hr />

<div class="search-zone">
    <h3>Search bar:</h3>
    <input type="search" id="global-search-bar" placeholder="Retrieve books from its title, author or category" aria-label="Search through the books list" onkeyup="filterBooks()" /><span></span>
</div>

@if (Model is not null && Model.Count() > 0)
{
    foreach (Book book in Model)
    {
        <div class="book-item presentation-flex">
            <hr class="separation-line" />
            <partial name="_BookDisplay" model="book" />
        </div>
    }
}
else
{
    <div class="card-body">
        <p class="card-text">No book is currently available in our library.</p>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/js/searchBar.js"></script>
}