@using Microsoft.AspNetCore.Identity
@using Pops_bookshop.Models.Entities
@model Book

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    bool isBookInWishList()
    {
        return Model.UsersWishlist.Any(w => w.BookId == Model.Id);
    }

    int ToRedirect = (int)ViewBag.Redirection;
}

@if (ToRedirect == 3)
{
    <a class="group-settings-button material-symbols-outlined d-inline-block" href="@Url.ActionLink("Remove", "Wishlist", new { bookId = Model.Id, redirectTo = ToRedirect })">heart_check</a>
    <span>Remove this book from my wishlist</span>
}
else
{
    @if (SignInManager.IsSignedIn(User))
    {
        @if (isBookInWishList())
        {
            <a class="group-settings-button material-symbols-outlined d-inline-block" href="@Url.ActionLink("Remove", "Wishlist", new { bookId = Model.Id, redirectTo = ToRedirect })">heart_check</a>
            <span>Remove this book from my wishlist</span>
        }
        else
        {
            <a class="group-settings-button material-symbols-outlined d-inline-block" href="@Url.ActionLink("Add", "Wishlist", new { bookId = Model.Id, redirectTo = ToRedirect })">favorite</a>
            <span>Add this book to my wishlist</span>
        }
    }
}